.service{
    height: 100svh;
    /* display: flex;
    flex-direction: row; */
    color: #f2f6f9;
    align-items: center;
    text-align: center;
}
h2{
    font-size: clamp(3rem,5vw + .8vh ,6rem);
}
p{
   font-size: x-large;
}
.solve{
    font-size: 1.6rem;
    font-weight: bold;
}
.infos{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 100px;
}
.info1 h3{
    font-size: 45px;
    font-weight: bold;
}